/* CSS for larger screens */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  /* background-color: #ffff0059; */
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjust this as needed */
  align-items: flex-start; /* Adjust this as needed */
  padding: 20px; /* Adjust the spacing around the components */
}


@media (max-width: 767px) {
  .App {
    width: 80%;
    flex-direction: column; /* Stack components vertically on smaller screens */
    align-items: center; /* Center everything horizontally */
  }

  .flex-container {
    flex-direction: column; /* Stack components vertically on smaller screens */
    align-items: center; /* Center everything horizontally */
    padding: 10px; /* Adjust the spacing around the components */
  }
}
